# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Vladimir\Desktop\Java Starter\Java Starter_NEW\Java Starter\003_Variables\003_Variables\003_Samples\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
